{%extends 'base.html' %}
{% load static%}
{% block content%}
{{block.super}}
<div class="container">
    <a class="btn btn-lg btn-secondary" href="{% url 'home' %}">Go Back</a>
    <div class="content">
        <center>
        <div class="projectImage">
            <img src="{{post.image.url}}" class="card-img-top" alt="..." width="450">
            
        </div>
        <div class="details mt-5">
            
                <div id="title">
                    <h4>{{post.title}} </h4>
                    <p>
                     {{post.user}}
                    </p><br>
                    <p>
                        {{post.content}}
                    </p>
    
                </div>
                <span class="text-center">{{ project.content  }}
                </span>

            
    </div>
</center>
            
</div>

{% endblock %}