{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="content-section">
        <div class="row">
            <div class="col-md-4">
                <img src="{{profile.profile_pict.url}}" alt="image" width="300" height="150">

            </div>
            <div class="col-md-6">
                <div class="address">
                    <h6>
                        Name: {{user.username}}
                    </h6>
                    <h6>
                        Neighbourhood: {{profile.neighbourhood.name }}
                    </h6>
                </div>
                <div class="contacts">
                    <h6>
                        Bio: {{ user.profile.bio }}
                    </h6>
                    <h6>
                        Email: {{user.email}}
                    </h6>
                </div>
                <!-- <button><a href="{% url 'update_profile' user.id %}">Edit Profile</a></button> -->
                
            </div>
        </div>
    </div>
</div>
{% endblock %}