{%extends 'base.html'%}
{% block content %}
<div class="w3-container" id="search">
    <div class="w3-row">
        {% if business %}
        <h2>Found {{ business|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Sorry we have no businesses in {{message}} category</h2>
        {% endif %}
    </div>
    <div class="w3-row">
        {% if business %}
        <div class="w3-row">
            <div class=" w3-padding w3-center">
                <hr>
            </div>
            <table class="w3-table w3-bordered">
                <tr>
                    <th>Business Name</th>
                    <th>Email address</th>
                    <th>Category</th>
                    <th>Owner</th>
                </tr>
                {% for biz in business %}
                <tr>
                    <td>{{biz.name}}</td>
                    <td>{{biz.bizzhood}}</td>
                    <td>{{biz.bizz_email}}</td>
                    <td>{{biz.user}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}