{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 mt-5">
        <!-- <div class="shadow-lg p-3 mb-5 bg-body rounded"> -->
            <center>
                <img src="{% static 'images/image.jpg'%}" class="img-responsive" id = "image1" alt="Image">
            </center>
          
        <!-- </div> -->

      </div>
      <div class="col-6 col-sm-6 mt-5">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <center>
                <h2> my village </h2>
                <p>A great website design is the foundation of your online presence. Making a good first impression means going beyond a great website design and also having an excellent user experience for your customers.
      
                  Whether you are looking for a brand new website or help with updating your current site, we can help you build your perfect website.</p>
    
              </center>

        </div>
     
          
        </div>
      <div class="col-6 col-sm-6 mt-5">
        <div class="shadow-lg p-3 mb-5 bg-body rounded"> 
          <center>
            <h2> my village </h2>
            <p>A great website design is the foundation of your online presence. Making a good first impression means going beyond a great website design and also having an excellent user experience for your customers.
  
              Whether you are looking for a brand new website or help with updating your current site, we can help you build your perfect website.</p>

          </center>
        </div>
        </div>

        <div class="col-6 col-sm-6 mt-5">
            <center>
                <img src="{% static 'images/image.jpg'%}" class="img-responsive" id = "image1" alt="Image">
            </center>
            
  
        </div>
    </div>
</div>
{% endblock %}
   
