/* index */
#image1{
  /* width: 40px;
  height: 300px; */
  margin: 1rem;
  margin-top: 0;
}
.event{
  display:flex;
  flex-direction:column;
}
.projectImage img{
  width: 500px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 80vh;
  

}
